.header {
    padding-top: 140px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    @media screen and (max-width: 880px) {
        padding-top: 50px;
    }

    &-content {
        @include flex(center, space-between);

        @media screen and (max-width: 880px) {
            flex-direction: column-reverse;
        }
    }

    &-image{
        padding-top: 50px
    }

    &-name {
        @include adaptive-value('font-size', 22, 18);
        font-family: $second-family;
        letter-spacing: 0.50px;
        font-weight: 500;

        @media screen and (max-width: 880px) {
            text-align: center;
            width: 100%;
            padding-top: 24px;
        }
    }

    &-color_name {
        color: #077d49;
        font-weight: 600;
    }

    &-title {
        @include adaptive-value('font-size', 40, 20);
        font-family: $font-family;
        letter-spacing: 0.50px;
        width: 700px;
        font-weight: 600;
        line-height: 48px;

        @media screen and (max-width: 1319px) {
            width: 100%;
        }

        @media screen and (max-width: 880px) {
            text-align: center;
            line-height: 43px;

        }

    }

    &-texts {
        @include flex(start, center);
        flex-direction: column;
        gap: 2px;
    }

    &-img {
        @include adaptive-value('width', 350, 300);
        border-radius: 12px;

        @media screen and (max-width: 880px) {
            width: 100%;
        }

    }
}


